.formacion-titulo{
    margin: 2rem;
}

.gridExperiencia{
    display: flex;
    flex-direction: column;
    .exp1{
        align-items: center;
        align-content: center;
        margin: 1rem;
        padding: 1rem;
        grid-area: experiencia1;
    }
    .exp2{
        align-items: center;
        align-content: center;
        margin: 1rem;
        padding: 1rem;
        grid-area: experiencia2;
    }
    .exp3{
        align-items: center;
        align-content: center;
        margin: 1rem;
        padding: 1rem;
        grid-area: experiencia3;
    }
    .exp4{
        align-items: center;
        align-content: center;
        margin: 1rem;
        padding: 1rem;
        grid-area: experiencia4;
    }
}

.gridFormacion{
    display: flex;
    flex-direction: column;
    .formacion1{
        display: block;
        margin: 1rem;
        padding: 1rem;
        grid-area: formacion1;
    }
    .formacion2{
        display: block;
        margin: 1rem;
        padding: 1rem;
        grid-area: formacion2;
    }
    .formacion3{
        display: block;
        margin: 1rem;
        padding: 1rem;
        grid-area: formacion3;
    }
    .formacion4{
        display: block;
        margin: 1rem;
        padding: 1rem;
        grid-area: formacion4;
    }
    .image-size{
        max-width: 64px;
        max-height: 64px;
    }
}